@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v26/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-2fRUAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvoooCP.ttf) format('truetype');
}
/*====================================Reset====================================*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: sans-serif;
}
body {
  background-color: hsl(227, 63%, 96%);
}
p {
  font-family: 'Raleway';
}
li {
  list-style-type: none;
}
a {
  color: #000;
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.box {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}
@media (min-width: 765px) {
  .box {
    width: 85%;
  }
}
/*============================Components============================*/
/*===================================Hero Section===================================*/
.hero {
  padding: 140px 0;
  background: url('../../assets/images/main-bg.png') no-repeat center center / cover;
}
.hero .company-logo {
  width: 278px;
  height: 64px;
  margin-top: -80px;
}
.hero__heading {
  font-family: 'EB Garamond';
  color: hsl(227, 63%, 96%);
  font-weight: 500;
  font-size: 2.5125rem;
  line-height: 3.575rem;
  margin-top: 40px;
  width: 100%;
}
@media (min-width: 450px) {
  .hero__heading {
    font-size: 2.7125rem;
    width: 80%;
    min-width: 400px;
  }
}
@media (min-width: 765px) {
  .hero__heading {
    font-size: 2.5125rem;
    width: 70%;
    min-width: 495px;
    line-height: 4.075rem;
  }
}
@media (min-width: 900px) {
  .hero__heading {
    font-size: 3.3125rem;
    width: 675px;
    line-height: 4.375rem;
  }
}
.hero__para {
  font-family: 'Raleway';
  font-size: 0.925rem;
  line-height: 1.75rem;
  color: hsl(227, 63%, 96%);
  width: 100%;
  min-width: 350px;
  margin-top: 18px;
}
@media (min-width: 450px) {
  .hero__para {
    width: 80%;
    font-size: 1.125rem;
  }
}
@media (min-width: 765px) {
  .hero__para {
    font-size: 1.125rem;
    line-height: 2.45rem;
    width: 65%;
  }
}
@media (min-width: 900px) {
  .hero__para {
    font-size: 1.625rem;
    line-height: 2.75rem;
    width: 57%;
    min-width: 580px;
  }
}
.hero__btn {
  border: none;
  width: 330px;
  height: 74px;
  border-radius: 5px;
  background-color: hsl(202, 85%, 52%);
  color: hsl(227, 63%, 96%);
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 26px;
  margin-top: 16px;
}
/*===================================Services Section===================================*/
.services {
  width: 80%;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: hsl(40, 72%, 49%);
  border-radius: 4px;
  box-shadow: 0px 14px 64px rgba(185, 131, 27, 0.31);
  margin-top: -60px;
}
@media (min-width: 900px) {
  .services {
    min-width: 825px;
  }
}
.services__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 900px) {
  .services__box {
    flex-direction: row;
  }
}
.services__box .break {
  height: 0;
  width: 100%;
  border: 1px solid hsl(227, 63%, 96%);
  margin: 40px 0;
}
@media (min-width: 900px) {
  .services__box .break {
    height: 80px;
    width: 0px;
    margin: 0;
  }
}
.services__box--item .icon img {
  width: 51px;
  height: 51px;
  margin: auto;
}
.services__box--item .caption {
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 20px;
  margin-top: 5px;
  color: hsl(227, 63%, 96%);
}
.how-to-start {
  padding: 60px 0;
}
.how-to-start__wrapper {
  width: 80%;
  margin: 0 auto;
}
.how-to-start__heading {
  font-family: 'Raleway';
  font-size: 58px;
  font-weight: 700;
  color: hsl(0, 0%, 27%);
  text-align: center;
  margin-bottom: 40px;
}
.how-to-start__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}
@media (min-width: 900px) {
  .how-to-start__section {
    flex-direction: row;
  }
}
.how-to-start__section:last-child {
  flex-direction: column-reverse;
}
@media (min-width: 900px) {
  .how-to-start__section:last-child {
    flex-direction: row;
  }
}
.how-to-start__section .content__head {
  font-family: 'Raleway';
  font-weight: 700;
  color: hsl(0, 0%, 27%);
  font-size: 1.8rem;
  width: 100%;
}
@media (min-width: 1200px) {
  .how-to-start__section .content__head {
    width: 90%;
    font-size: 2.5rem;
  }
}
.how-to-start__section .content__list {
  width: 70%;
}
.how-to-start__section .content__list li {
  font-family: 'Raleway';
  color: hsl(0, 0%, 27%);
  font-size: 1.15rem;
  line-height: 2.1875rem;
  margin-left: 34px;
  margin-top: 25px;
  width: 120%;
  position: relative;
}
.how-to-start__section .content__list li::before {
  content: url('../../assets/images/logos/check.svg');
  position: absolute;
  left: -34px;
  top: 5px;
}
.how-to-start__section .content .second--head {
  width: 100%;
}
